
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #dc7171;
    padding: 50px 60px 70px;
}
.btn{
    align-items: center;
    text-align: center;
}